body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('cosmic-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

header {
    text-align: center;
    padding: 20px;
    color:black;
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

main {
    text-align: center;
    margin-top: 20px;
}

.login-form {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: -100px;
    box-shadow: 0px 0.2px 5px black;
}
.signup-form {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: -90px;
    box-shadow: 0px 0.2px 5px black;
    margin-left: 5%;
    margin-right: 5%;
}
.input-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color:white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size:medium;
    font-weight: bolder;
}

button:hover {
    background-color: #1E90FF;
}

footer {
    text-align: center;
    color: black;
    padding: 20px;
    font-weight:bolder;
}
a{
    margin-right: 60px;
    cursor: pointer;
}
